@{
    ViewBag.Title = "About";
}

<div style="width:200px;height:100px">
    <h1>@{Html.RenderPartial("_DisplayTime");}</h1>

    <hr/>
    

    
</div>
<div>
    <h1>    @ViewBag.gr</h1>
    @Html.Action("GetAddress");
</div>


<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>